json.txt
[
    {
        "id": "multi_inv_tab",
        "type": "tab",
        "label": "ULTRA-RÁPIDO v5.4",
        "disabled": false,
        "info": "Flow otimizado segundo 10 princípios de baixa latência"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Broker Rápido",
        "broker": "localhost",
        "port": 1883,
        "clientid": "nr_fast",
        "autoConnect": true,
        "usetls": false,
        "keepalive": 5,
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ws_listener",
        "type": "websocket-listener",
        "path": "api/ws/inversor",
        "wholemsg": "false"
    },
    {
        "id": "ws_cmd_in",
        "type": "websocket in",
        "z": "multi_inv_tab",
        "name": "CMD IN",
        "server": "ws_listener",
        "client": "",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "cmd_direto"
            ]
        ]
    },
    {
        "id": "cmd_direto",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "DIRETO QoS0",
        "func": "// SUGESTÃO 1: Processamento MÍNIMO\n// SUGESTÃO 4: Payload pequeno\n// SUGESTÃO 7: SEM context\n\n// Parse inline sem try/catch (mais rápido)\nlet p = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg.payload;\n\n// Extração direta\nconst i = p.inv;\nconst c = p.cmd;\nconst v = p.value;\n\n// Montagem direta do tópico (sem switch, mais rápido)\nlet t = \"inversor/\" + i + \"/cmd/\";\nlet pl = \"1\";\n\nif (c === \"start\") t += \"start\";\nelse if (c === \"stop\") t += \"stop\";\nelse if (c === \"freq\" || c === \"frequencia\") {\n    t += \"frequencia\";\n    pl = String(v);\n}\nelse if (c === \"direcao\") t += \"direcao\";\nelse return null;\n\n// SUGESTÃO 10: Timestamp para monitoramento\nmsg._ts = Date.now();\n\nreturn {topic: t, payload: pl};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 60,
        "wires": [
            [
                "mqtt_cmd_out"
            ]
        ]
    },
    {
        "id": "mqtt_cmd_out",
        "type": "mqtt out",
        "z": "multi_inv_tab",
        "name": "QoS 0",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "mqtt_status_in",
        "type": "mqtt in",
        "z": "multi_inv_tab",
        "name": "STATUS (separado)",
        "topic": "inversor/+/status/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "status_parse"
            ]
        ]
    },
    {
        "id": "status_parse",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "Parse Status",
        "func": "// SUGESTÃO 6: Fluxo separado de telemetria\n// Este fluxo NÃO interfere no caminho de comando\n\nconst m = msg.topic.match(/inversor\\/(\\d+)\\/status\\/(.+)/);\nif (!m) return null;\n\nconst id = parseInt(m[1]);\nconst key = m[2];\n\n// SUGESTÃO 10: Calcula latência se houver timestamp\nlet latency = null;\nif (msg._ts) {\n    latency = Date.now() - msg._ts;\n}\n\nreturn {\n    payload: {\n        inv: id,\n        [key]: msg.payload,\n        _latency: latency\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 160,
        "wires": [
            [
                "ws_status_out",
                "update_cache",
                "monitor_latency"
            ]
        ]
    },
    {
        "id": "ws_status_out",
        "type": "websocket out",
        "z": "multi_inv_tab",
        "name": "STATUS OUT",
        "server": "ws_listener",
        "client": "",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_hb_in",
        "type": "mqtt in",
        "z": "multi_inv_tab",
        "name": "HB (separado)",
        "topic": "inversor/gateway/heartbeat",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "ws_status_out"
            ]
        ]
    },
    {
        "id": "test_latency",
        "type": "inject",
        "z": "multi_inv_tab",
        "name": "🧪 TESTE Latência INV 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "_ts",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"inv\":1,\"cmd\":\"start\"}",
        "payloadType": "json",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "cmd_direto"
            ]
        ]
    },
    {
        "id": "monitor_latency",
        "type": "debug",
        "z": "multi_inv_tab",
        "name": "📊 Latência (ms)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload._latency",
        "targetType": "msg",
        "statusVal": "payload._latency",
        "statusType": "auto",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "api_cmd_post",
        "type": "http in",
        "z": "multi_inv_tab",
        "name": "POST /cmd",
        "url": "/api/inversor/:id/cmd",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "api_to_cmd"
            ]
        ]
    },
    {
        "id": "api_to_cmd",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "API→CMD",
        "func": "// Converte requisição HTTP para formato interno\nconst id = parseInt(msg.req.params.id);\nconst {cmd, value} = msg.payload;\n\n// Timestamp para latência\nmsg._ts = Date.now();\nmsg.payload = {inv: id, cmd, value};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "cmd_direto",
                "api_response_ok"
            ]
        ]
    },
    {
        "id": "api_response_ok",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "202 Accepted",
        "func": "// SUGESTÃO 9: Responde imediatamente, não espera confirmação\nmsg.statusCode = 202;\nmsg.payload = {\n    status: \"accepted\",\n    message: \"Comando enviado, aguarde status do inversor\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "api_response"
            ]
        ]
    },
    {
        "id": "api_response",
        "type": "http response",
        "z": "multi_inv_tab",
        "name": "HTTP OUT",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "api_status_get",
        "type": "http in",
        "z": "multi_inv_tab",
        "name": "GET /status",
        "url": "/api/inversor/:id/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "get_from_cache"
            ]
        ]
    },
    {
        "id": "get_from_cache",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "Cache (só leitura)",
        "func": "// SUGESTÃO 7: Context usado SÓ em leitura de status\n// NÃO no caminho crítico de comando\n\nconst id = parseInt(msg.req.params.id);\nlet cache = global.get('inv_cache') || {};\n\nif (!cache[id]) {\n    // Lazy init\n    cache[id] = {\n        id: id,\n        online: false,\n        rodando: false,\n        frequencia: 0,\n        direcao: \"frente\"\n    };\n}\n\nmsg.payload = cache[id];\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "api_response"
            ]
        ]
    },
    {
        "id": "update_cache",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "Atualiza Cache",
        "func": "// SUGESTÃO 6: Cache atualizado em fluxo SEPARADO\n// NÃO bloqueia comandos\n\nconst inv = msg.payload.inv;\nif (!inv) return null;\n\nlet cache = global.get('inv_cache') || {};\n\nif (!cache[inv]) {\n    cache[inv] = {id: inv};\n}\n\n// Atualiza apenas o campo recebido\nfor (let key in msg.payload) {\n    if (key !== 'inv' && key !== '_latency') {\n        cache[inv][key] = msg.payload[key];\n    }\n}\n\nglobal.set('inv_cache', cache);\n\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "init_cache",
        "type": "inject",
        "z": "multi_inv_tab",
        "name": "Init Cache",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "do_init"
            ]
        ]
    },
    {
        "id": "do_init",
        "type": "function",
        "z": "multi_inv_tab",
        "name": "Init 21 Inversores",
        "func": "let cache = {};\nfor (let i = 1; i <= 21; i++) {\n    cache[i] = {\n        id: i,\n        online: false,\n        rodando: false,\n        frequencia: 0,\n        direcao: \"frente\"\n    };\n}\nglobal.set('inv_cache', cache);\nnode.log('✅ Cache inicializado (21 inversores)');\nreturn null;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 500,
        "wires": []
    }
]